{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
<h1>კონტაქტი</h1>

<h3>LernCourse-ის მთავარი გვერდი:</h3>
<ul>
    <li>📧 ელფოსტა: lerncourse@gmail.com</li>
    <li>📱 ტელეფონი: +995 599 12 34 56</li>
    <li>🌐 ვებსაიტი: <a href="https://www.lerncourse.com" target="_blank">www.lerncourse.com</a></li>
    <li>📸 Instagram: <a href="https://instagram.com/lerncourse" target="_blank">@lerncourse</a></li>
    <li>📘 Facebook გვერდი: <a href="https://facebook.com/lerncourse" target="_blank">facebook.com/lerncourse</a></li>
</ul>

<h3>გუნდის წევრები:</h3>

<ul>
    <li><strong>ელენე დასასვილი </strong> —
        <ul>
            <li>📧 ელფოსტა: elene.example@example.com</li>
            <li>📱 ტელეფონი: +995 555 11 22 33</li>
            <li>📘 Facebook: <a href="https://facebook.com/elenedasasvili" target="_blank">elenedasasvili</a></li>
        </ul>
    </li>
    <li><strong>ნიკა აკურაძე</strong> —
        <ul>
            <li>📧 ელფოსტა: nika.example@example.com</li>
            <li>📱 ტელეფონი: +995 577 88 77 66</li>
            <li>📘 Facebook: <a href="https://facebook.com/nikakradze" target="_blank">nikaakuradze</a></li>
        </ul>
    </li>
</ul>
</div>
{% endblock %}
