{% extends 'base.html' %}
{% block body_class %} ads-page{% endblock %}
{% block content %}

<h2>ახალი განცხადება</h2>

<form method="POST">
  {{ form.hidden_tag() }}

  <div class="mb-3">
    {{ form.title.label(class="form-label") }}
    {{ form.title(class="form-control") }}
  </div>

  <div class="mb-3">
    {{ form.description.label(class="form-label") }}
    {{ form.description(class="form-control", rows=4) }}
  </div>

  <div class="mb-3">
    {{ form.contact_info.label(class="form-label") }}
    {{ form.contact_info(class="form-control") }}
  </div>

  <button type="submit" class="btn btn-success">განცხადების დამატება</button>
</form>

{% endblock %}
